<div class="modal fade {{show ? 'show' : ''}}">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content rounded-3 shadow">
            <div class="modal-body p-3 pb-0 text-center">
                <div *ngIf="!template">
                    <h1 class="display-1 text-success" *ngIf="title === 'Success'">
                        <i class="fa-solid fa-circle-check"></i>
                    </h1>
                    <h1 class="display-1 text-danger" *ngIf="title === 'Error'">
                        <i class="fa-solid fa-circle-exclamation"></i>
                    </h1>
                    <h5 class="mb-1" *ngIf="title">{{title}}</h5>
                    <p class="mb-0" *ngIf="body">{{body}}</p>
                </div>

                <div *ngIf="template">
                    <h5 class="mb-3" *ngIf="title">{{title}}</h5>
                    <ng-container *ngTemplateOutlet="template"></ng-container>
                </div>
            </div>
            <div class="modal-footer flex-nowrap border-0 justify-content-center" *ngIf="useConfirmButton || useCancelButton">
                <button *ngIf="useCancelButton" type="button" (click)="handleCancel()" class="btn btn-lg {{useConfirmButton ? 'btn-dark' : 'btn-outline-dark'}} col-lg-4" >
                    {{cancelLabel || (useConfirmButton ? 'Cancel' : 'Close')}}
                </button>
                <button type="button" (click)="handleConfirm()" *ngIf="useConfirmButton"
                    class="btn btn-primary btn-lg col-lg-4">
                    <strong>{{confirmLabel || 'Yes'}}</strong>
                </button>
            </div>
        </div>
    </div>
</div>

<div *ngIf="show" class="modal-backdrop fade show"></div>